.footer {
  background-color: var(--white-color);
}

.footer__icon-img {
  color: var(--grey-color2);
}

.footer__icon-img:hover {
  color: var(--blue-color);
}

.footer__text {
  color: var(--grey-color);
}
