@import url("./css/reset.css");
@import url("./css/vars.css");
@import "tailwindcss";

:root {
  /* font-family: serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--grey-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
